<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="HeartBeats.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <applicationSettings>
    <HeartBeats.Properties.Settings>
      <setting name="ExcludedFolders" serializeAs="String">
        <value>Deleted Items;Outbox;Sent Items;Junk Email;Drafts;Conversation History;Conversation Action Settings;Quick Step Settings;Calendar;Contacts;Sync Issues;Files;Tasks;Yammer Root;PersonMetadata;Journal;ExternalContacts;Archive;Notes;RSS Feeds;EventCheckPoints;Social Activity Notifications
</value>
      </setting>
      <setting name="ErrorCriticalThreshold" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="ErrorsTobeMonitored" serializeAs="String">
        <value>NoOrderHistoryItemRecievedHoursQP;NoOrderHistoryItemRecievedHoursMG;PProductWithError</value>
      </setting>
      <setting name="DayLights" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="TimeZoneDifference" serializeAs="String">
        <value>-05:00:00</value>
      </setting>
      <setting name="PlayNotificationSound" serializeAs="String">
        <value>True</value>
      </setting>
    </HeartBeats.Properties.Settings>
  </applicationSettings>
</configuration>